/* 탑버튼 */
#top_box{position: relative; top: -130px;}
.top_btn{
    width: 50px;height: 50px;background-color: #333;text-align: center;
    line-height: 50px; color: white; border-radius: 50%;
    position: fixed; bottom: 5%; right: 5%; z-index: 9999999999;
}
/* 헤더탑 */

.header_top_box{
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    background-color: white;
}
.header_top{
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    left: 0;
}
.join{
    width: 114px;
    height: 100%;
    float: right;
    
}
.join_tag{
    width: calc(100% /4);
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;
    float: left;
}
.join img{
    padding-top: 10px;
    height: 61px;
}
.join img:hover{
    scale: 1.1;
}
/* 햄버거 버튼 */
.hamberg {
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 7px;
    margin-top: 15px;
    box-sizing: border-box;
    float: left;
    position: relative;

    display: none;
}
.line {
    width: 100%;
    height: 5px;
    background-color: #333333;
    margin: 5px 0;

    
}
#line_top, #line_bot {
    transition: all 0.5s;
}
.menu_pan {
    width: 250px;
    height: calc(100vh - 100px);
    background-color: rgba(222, 222, 222, 0.8);
    opacity: 0;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    z-index: 9  ;
    transition: all 0.5s;
}
.menu_pan_active {
    left: 0;
    opacity: 1;
}
.menu_pan a{
    padding: 20px;
}
.menu_pan li {
    text-align: center;
    line-height: 4;
    font-size: 16px;
    font-weight: 900;
}
.menu_pan li:hover{color: #ee1c25;}

/* 로고 */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.logo img{
    width: 100%;
    padding-top: 10px;
}
/* 헤더바텀 */
.header_bot_box{
    width: 100%;
    background-color: #e30613;
    position: fixed;
    top: 80px;
    z-index: 99999;
    
}
.header_bottom {
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    /* display: flex; */
    /* justify-content: space-between; */
}
/* 헤더바텀 메뉴 */
.header_bottom_ul {
    float: left;
    display: flex; 

    position: relative;
}
.header_bottom_ul li {
    color: black;
    padding: 0px 14px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
}
.menu:hover{
    font-style: italic;
}
.bar { 
    height: 5px;
    background-color: yellow;
    transition: all 0.5s;
    border-radius: 5px;

    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}
/* 로그인창 메인 시작 지점 */

button{cursor: pointer;}
.loginbox{
    width: 780px;
    height: 550px;
    margin: 0 auto;
    margin-top: 300px;
    border-radius: 42px ;
    overflow: hidden;
}
.loginbox h2{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    background-color: #fff;
}
.loginbox form{
    width: 100%;
    height: 450px;
    background-color: #fff;
    padding: 60px;
    box-sizing: border-box;
}
.loginbox fieldset{
    border: none;
}
.loginbox legend{
    position: absolute;
    left: -999em;
}
.loginbox label{
    display: block;
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
}
.loginbox input{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border: none;
    background-color: #ededed;
    padding: 0 20px;
    box-sizing: border-box;
}
.loginbox ul{
    width: 100%;
    text-align: right;
}
.loginbox li{
    display: inline-block;
    height: 12px;
    line-height: 12px;
}
.loginbox li:last-child{
    border-left: 1px solid #333;
    padding-left: 10px;
    margin-left: 4px;
}
.loginbox a{
    color: #333;
    font-size: 12px;
    position: relative;
    top: -2px;
}
.loginbox button{
    display: block;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    border: none;
    background-color: #1673ea;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
}
/* 푸터 영역 */
/* footer 시작지점 */
footer{max-width: 100%; height: 400px; background-color: white; margin-top: 400px;}
.footer_top{
    width: 100%; height: 50px; border-top: 2px solid #e2e2e2; border-bottom: 2px solid #e2e2e2; background-color: rgb(233, 233, 233);
}
.footer_top_txt{
    max-width: 1200px; margin: 0 auto; line-height: 50px; display: flex; gap: 40px  ;
}
.footer_top_txt h1{font-weight: 900; font-size: 14px;}
.footer_top_txt span{font-size: 11px; color: #666;}
.footer_main{ max-width: 1200px; margin: 0 auto; padding: 50px 0;}
.f_left{width: 50%; float: left;}
.f_left_logo{width: 100%;}
.f_left_logo img{width: 100px; height: 20px;}
.f_left_txt{margin-top: 20px;}
.f_left_txt p{font-size: 13px; color: #666;padding: 3px 0;}