/* 헤더탑 */
.header_top_box{
    width: 100%;
}
.header_top{
    max-width: 1100px;
    height: 80px;
    margin: 0 auto;
    padding: 0 200px;
    position: relative;
    left: 0;
    background-color: blue;
}
/* 로고 */
.logo {
    width: 200px;
    height: 100%;

    float: left;
}
.logo img{
    width: 100%;
    padding-top: 10px;
}
/* 헤더바텀 */
.header_bot_box{
    width: 100%;
    background-color: #333;
}
.header_bottom {
    max-width: 1100px;
    margin: 0 auto;
    height: 70px;
    line-height: 70px;
    /* display: flex; */
    /* justify-content: space-between; */
}
/* 헤더바텀 메뉴 */
ul {
    float: left;
    display: flex; 
    
    position: relative;
}
.menu {
    padding: 0 30px;
    cursor: pointer;
}
.bar { 
    height: 5px;
    background-color: yellow;
    transition: all 0.5s;
    border-radius: 5px;

    position: absolute;
    bottom: 0;
    left: 0;
}
/* 헤더바텀 검색창 */
.search{    
    width: calc(100% - 750px);
    max-width: 300px;
    float:right;
    margin-right: 42px;
    
    position: relative;
}
.search input{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 30px 10px 10px;
    font-size: 14px;
}
.search img{
    position: absolute;
    width: 27px;
    top: 23px;
    right: -37px;
}
